@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

body, html, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-family: "Open Sans Regular", sans-serif;
    color: white;
}

h1,
h2,
h3 {
    font-family: "Open Sans Medium", sans-serif;
    font-weight: 300;
}

table {
    width: 100%;
    text-align: center;
}

th {
    font-weight: 300;
    font-family: "Open Sans SemiBold", sans-serif;
}

tr>td {
    border-bottom: 2px solid rgba(76, 126, 196, 83%);
    padding: 1em 0 1em;
}


.directory-anchor {
    display: grid;
    grid-template-areas: "icon" "title" "meta";
    grid-template-rows: 70% 15% 15%;
}

.directory-anchor .icon {
    grid-area: icon;
    font-size: 80px;
}

.directory-anchor .title {
    grid-area: title;
}

.directory-anchor .meta {
    grid-area: meta;
    font-size: 1rem;
    color: #d5f0e9;
    opacity: 0.8;
}

